input[type="text"], input[type="email"], input[type="date"], select {
    width: 100%;
    padding: 12px 17px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid rgb(10, 9, 9);
    border-radius: 4px;
    box-sizing: border-box;
}

.buttonforsubmit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.bookingform {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
input[type="date"]{
    margin:5px ;
    
}
.formcredentials {
    border:2px solid black;
    padding:10em;
    width:75%
}
#slotbookingname{
    color:rgb(230, 86, 8);
}
.button1{
  width: 3cm;
  height:1cm;
  background-color: rgba(221, 70, 29, 0.538); 
  font-family: 'Josefin Sans', sans-serif;
  }
.josephin{
  font-family: 'Josefin Sans', sans-serif;
}
.full-screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Full height of the viewport */
}

.no-workshops-message {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.workshop-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: gold;
  color: #000;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-list {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-list li {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f1db35;
}
