/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */
.card-container {
    display: flex;
    align-items: center;
  }
  
  .smallimg {
    height: 250px;
    width: 100% !important;
    margin-right: -20px; 
    border-radius: 5px;
  }
  /* .btn
  {
    background-color:rgb(255, 252, 217) ;
     color:rgb(12, 11, 11) ;
     box-shadow:none 
  }
  .btn:hover{
    background-color: #ffc107;
    color: black;
  } */
  h1 {
    font-size: 20px !important;
  }
  .buttonforcollegecard {
    display: flex;
    background: #0f0f10;
    border: 0.1px solid #ffc107; /* Set border to 2px solid with border color #ffc107 */
    color: white;
    border-radius: 10px;
    margin-left: 30px;
    white-space: nowrap;
    transition: background 0.3s; /* Add transition for smoother hover effect */
  }
  
  .buttonforcollegecard:hover {
    background: #ffc107; /* Change background color on hover */
  }
  
  .textalign {
    text-align: left;
  }
  .rubik-maps-regular
  {
    font-family: "Rubik Maps", system-ui;
    font-weight: 300;
    /* font-style: normal; */
  }
  .bs
  {
    
    color:white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    transition: .2s all ease-in-out;
    font-family: 'Montserrat', sans-serif;
  }
  .bs:hover
  {
    box-shadow: #f1f0edde;
    transform: scale(1.04);
    background-color:#ffc107cf ;
    /* background-color:#f1db35; */
    border-radius: 0%;
    
  }
  .bs:hover .h1forcollegecode {
    color: black !important;
  }
  .h1forcollegecode{
    color:#ffc107 !important;
  }


  .bigimg
  {
    height: 400px;
    width: 200%;
    border-radius: 5px !important;
  }
  