.btn {
  display: block;
  margin: auto;
  /* max-width: 120px; */
  width: 100px; /* Set width */
  height: 50px; /* Set height */
  text-align: center;
}
.tothemiddle {
  margin: auto;
  justify-content: center;
}
.bck {
  box-shadow: 0px 0px 30px 0.01px #d3d7df, 0px 0px 1px;
}
.break {
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-gap: 3px;
}
body {
    /* display: grid; */
    place-items: center;
    /* height: 100vh; Set full viewport height for body (optional) */
  }

.boxing{
    box-shadow: 0px 0px 7px 0.2px #6c6f74,0px 0px 1px;
 }
 .tothemiddle{
    margin:auto;
 }
.signinbutton{
    margin-top:2ch;
    background-color: gold;
}