.heading1{
    color:#4d3a05;
    border: #ffff7f;
    border-radius: 0.1cm;
    text-align: center;
    text-shadow: 0.1px 2px 3px #6d6d68;
   }
   .row1{
    justify-content: center;
   }
   .box1{
    padding:0.4cm;
    margin-bottom: 2cm;
    box-shadow:0px 0px 20px 1px #6d6e6e;
    background-color: #fbff007b;
    border-radius: 5ch;
    font-family:'Urbanist', sans-serif;
   }
   .enrolled{
    display: flex;
    justify-content: center;
    flex-direction:row;
  }
  .s{    
    padding:5px;  
    margin:10px;
  }
  .section-header{
    background-color:gold;
    box-shadow:0px 0px 30px 0.01px #d3d7df;
  }
  .circle {
    height: 250px;
    width: 250px;
    border-radius: 50%;
  }
  .b1{   
    font-family: 'Poppins', sans-serif; 
  }
  .quick{
    background-color: beige;
    box-shadow: 0px 0px 30px 0.01px #d3d7df,0px 0px 1px;
  }
  .c1{
    box-shadow:0px 0px 30px 0.01px #d3d7df,0px 0px 1px ;
  }
  .searchbutton{
    display: block;
    margin: 0 auto;
    width: 8cm;
    height: 30px;
    background-color: #f1c060;
    border-radius:1.5cm ;
    border-color: #ffff7fc8;
    box-shadow:0px 0px 30px 0.01px #d3d7df,0px 0px 1px ;
}
.c2{
  border-color: rgb(255, 255, 255);
  height: 100px;
<<<<<<< HEAD
  background-image: linear-gradient(180deg, rgb(244, 227, 45), rgb(255, 255, 255));
 }
 .thisbody
 {
  background-color: #ffffff !important;
=======
  background-image: linear-gradient(180deg, rgb(239, 169, 231), rgb(255, 255, 255));
>>>>>>> eead39944a4b0d839e9fe84b2d2492547468b01e
 }